
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');


* {
    font-family: 'montserrat', sans-serif; 
}

body {
    margin: 0;
}

.navbar {
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(25,22,69,1) 19%, rgba(67,198,164,1) 96%);

    padding: 5px 0;
}

.navbar-content {
    padding: 0 10px;
    margin: 0 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.company-logo {
    font-family: 'comforter Brush', cursive;
    text-decoration: none;
    font-size: 60px;
    color: rgb(255,255,255);
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.nav-menu {
    margin-left: auto;
    margin-right: auto;
}

.menu {
    list-style: none;
    display: flex;
    padding: 0px;
    width: 100%;
    gap: 15px;
    margin: 0;
}

.nav-link {
    text-decoration: none;
    color: rgb(255,255,255);
    font-weight: bold;
}

.nav-link:hover {
    color: rgb(146, 141, 141);

}

.hero-container {
    margin-left: 1rem;
    margin-right: 1rem;
    color: rgb(255,255,255);
    padding: 5rem;
}

.hero-context {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: large;
}

.btn-1 {
    background: rgb(25,22,69);
    color: rgb(255,255,255);
    font-weight: bolder;
    border: none;
    padding: 10px 25px;
    border-radius: 8px;
}

.btn-1:hover {
    color: rgb(146, 141, 141);
    display: inline;
}

.hero-img {
    width: auto;
    height: auto;
}

.team {
    text-align: center;
    padding: 7rem;

}

.our_team{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 3rem;
}

.team_member{
    width: 250px;
    margin: 5px;
    padding: 20px 10px;
}

.member_img{
    width: auto;
    height: auto;
    margin: 0 auto;
    padding: 5px;
    position: relative;
    cursor: pointer;
}

.member_img img{
    width: 200px;
    height: auto;
}

.team_member h3{
    text-transform: uppercase;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2px;
    margin: 15px 0 0px;
}

.team_member span{
  font-size: 10px;
}

.team_member p{
  margin-top: 20px;
  font-size: 14px;
  line-height: 20px;
}

.quote {
    width: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 7rem;
    background: rgb(229,229,229);
}

.quote-container {
    width: 69rem;
    padding: 20px 10px;
}

.quote-p {
    font-size: xx-large;
    text-align: center;
}

.quoter {
    font-size: x-large;
    font-style: italic;
    text-align: right;
}

.sign-up {
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-content {
    background: rgb(67,198,172);
    width: 69rem;
    height: 10rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.signup-text {
    font-size: large;
}

.btn-2 {
    background: rgb(25,22,69);
    color: rgb(229,229,229);
    font-weight: bolder;
    border: none;
    padding: 10px 25px;
    margin-left: 5rem;
    border-radius: 8px;
}

.btn-2:hover {
    color: rgb(146, 141, 141);
    display: inline;
}

.footer {
    background: rgb(25,22,69);
    padding: 5px 0;
    display: block;
}

.footer-content {
    color: rgb(229,229,229);
    text-align: center;
    padding: 10px;
}



