
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');


* {
    font-family: 'montserrat', sans-serif; 
    /* box-sizing: border-box;    */
}

body {
    margin: 0;
}

.navbar {
    /* background: #2A9D8F; */
    background: linear-gradient(90deg, rgba(252,74,74,1) 0%, rgba(226,119,255,1) 35%, rgba(110,223,246,1) 100%);
    padding: 5px 0;
}

.navbar-content {
    padding: 0 10px;
    margin: 0 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.company-logo {
    font-family: 'comforter Brush', cursive;
    text-decoration: none;
    font-size: 60px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.nav-menu {
    margin-left: auto;
    margin-right: auto;
}
.menu {
    list-style: none;
    display: flex;
    padding: 0px;
    width: 100%;
    gap: 15px;
    margin: 0;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.nav-link:hover {
    color: rgb(98, 98, 98);
}

.hero {
    display: block;
    padding: 5rem 25rem;
    height: auto;
    max-width: 100%;
}

.hero-container {
    padding: 0 1rem;
}

.hero-context {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-1 {
    background: rgba(252,74,74,1);
    color: white;
    font-weight: bolder;
    border: none;
    padding: 10px 25px;
    border-radius: 8px;
}

.btn-1:hover {
    color: black;
    display: inline;
}

.hero-img {
    display: flex;
    position: relative;
    width: 500px;
}
